<md-dialog aria-label="Map dialog">
    <md-dialog-content>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255348.15389538847!2d34.59808175670771!3d-0.07497262590985761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182aa437ad4ac81d%3A0x2012a439d6248dd2!2sKisumu%2C+Kenya!5e0!3m2!1sen!2s!4v1447180360876" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">
            Close
        </md-button>
    </md-dialog-actions>
</md-dialog>